<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Табличка</title>
</head>
<body>
<div style="padding-top: 20px;">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">ФОИВ</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Дата</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Название</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Номер</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Инвентарный номер</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Предмет соглашения</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Примечания</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Ссылка</th>
                <th scope="col" class="text-center align-middle" style="background-color: #016ab4; border-color: #4588ca;">Уполномоченные подразделения</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in docs %}
            <tr>
                <th>{{ doc.foiv_id.title }}</th>
                <td>{{ doc.reg_date|date:"Y-m-d" }}</td>
                <td>{{ doc.title }}</td>
                <td>{{ doc.number }}</td>
                <td>{{ doc.inv_number }}</td>
                <td>{{ doc.subject }}</td>
                <td>{{ doc.note }}</td>
                <td>{{ doc.file }}</td>
                <td>{{ doc.display_dept }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>