{% load static %}
<nav class="navbar navbar-dark" id="header-1">
    <a class="navbar-brand align-middle" href="/"><img height="50 px" src="{% static 'admin/img/logo.png' %}"> Соглашения</a>
    <nav class="my-2 my-md-0 mr-md-3 text-light">
        <img style="border-radius: 50%; width: 50px;" src="{% static 'admin/img/pw.jpg' %}">
        <a class="p-2 text-light" href="#">Антоненко Ольга</a>
        <span style="color:red">|</span>
        <a class="p-2 text-light" href="#">Выход</a>
    </nav>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#3796DA!important;">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/add_agreement/">Добавить Соглашение</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><span style="color:red">|</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add_protocol/">Добавить Протокол</a>
            </li>
        </ul>
    </div>
</nav>